.cart h3 {
  color: #1C2B35;
  font-size: 22px;
  font-weight: 400;
}
.order_details {
  text-align: left;
  padding: 0 15px;
  font-size: 14px;
  color: #2A414F;
  line-height: 33px;
}
.order_details h4 {
	color: #0E161A;
	font-size: 16px;
	font-weight: 400;
	margin: 5px 0 30px 0px;
}
.order_details button {
  border: none;
  width: 232px;
  height: 48px;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 17px;
  cursor: pointer;
}
.order_details .clear_btn {
  background: #FF3030;
  margin-bottom: 10px;
}
.order_details .review_order {
  background: #FF9900;
}
.order_details button img {
  width: 14px;
}
/* .cart {
	position: fixed;
	background: #FFE0B3;
	padding-bottom: 30px;
	border-radius: 8px;
  width: 270px;
} */